<!DOCTYPE html>
<html lang="en">
  
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/myUpload.css">
    <title>Image Uploading</title>
</head>
  
<body>
    <h1>My upload page</h1>
    <hr>
    <div>
        <form  method="POST" enctype="multipart/form-data" action="/mainUpload">
            <div>
                <label for="name">Image Title</label>
                <input type="text" id="name" placeholder="Name" 
                       value="" name="name" required>
            </div>
            <div>
                <label for="distance">Distance</label>
                <textarea id="distance" name="distance" value="" rows="1" 
                          placeholder="Distance" required>
                </textarea>
            </div>
            <div>
                <label for="date">Date</label>
                <textarea id="date" name="date" value="" rows="1" 
                          placeholder="Date and Time" required>
                </textarea>
            </div>
            <div>
                <label for="author">Author Name</label>
                <input type="text" id="author" placeholder="Your name" 
                       value="" name="author" required>
            </div>
            <div>
                <label for="desc">Image Description</label>
                <textarea id="desc" name="desc" value="" rows="10" 
                          placeholder="Description" required>
                </textarea>
            </div>
            <div>
                <label for="image">Upload Image</label>
                <input type="file" id="image" 
                       name="image" value="" required>
            </div>
            <div>
                <button type="submit">Submit</button>
            </div>
        </form>
    </div>
  
</body>
</html>